<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}|Aprendiendo flask{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}" />
</head>

<body>
    <h1>Python - Aprendiendo flask</h1>
    <hr/>
    <ul>
        <li>
            <a href="/">Inicio</a>
        </li>
        <li>
            <a href="{{ url_for('contact') }}">Contacto</a>
        </li>
        <li>
            <a href="{{ url_for('information') }}">Information</a>
        </li>
    </ul>
    <hr/>
    <section id="content">
        {% block content %} {% endblock %}
    </section>
</body>
<footer>
    Master en Python 
</footer>
</html>